@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUp {
    animation: fadeInUp 0.8s ease-in-out;
  }
  
  
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
